* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;   
}

nav .nav-right-section a {
    margin-right: 15px;
    color: #000000;
}

nav .nav-right-section .icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section img {
    border-radius: 50px;
    margin-left: 20px;
    padding-top: 3px;
}

.main-container {
    text-align: center;
    margin-top: 130px;
}

.main-container figure {
    width: 500px;
    margin: 0 auto 30px;
}
.main-container figure img {
    width: 270px;
}

.input {
    width: 530px;
    margin: 0 auto 35px;
}
.input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-container .input .input-container:hover {
    box-shadow: 0 1px 5px 0 #202124;
    border-color: #dfe1e500;
}
.input-container input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

.search-icon {
    background-image: url('./assets/searchIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.micro-icon {
    background-image: url('./assets/microphoneIcon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

.main-buttons {
    width: 530px;
    margin: 0 auto;
}
.main-buttons div {
    display: inline-block;
}
.main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin: 0 10px;
}
.main-buttons button:hover {
    color: black;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #000001;
}
.main-buttons p {
    margin-top: 25px;
}

.main-buttons p a {
    color: blue;
    padding-left: 10px;
}
footer .footer-container {
    position: absolute;
    display: block;
    background-color: #f2f2f2;
    bottom: 0;
    width: 100% ;
}

.first-row  {
    border: 1px solid #e4e4e4;
}
footer .footer-container .first-row p {
    font-size: 15px;
    margin: 12px 30px 12px;
}
footer .footer-container .second-row .links {
    display: flex;
    margin: 12px 30px 12px;
    justify-content: space-between;
}
footer .footer-container .second-row .links ul {
    display: flex;
    list-style: none;
}
footer .footer-container .second-row .links ul li a {
    font-size: 15px;
    padding-right: 25px;
}
